@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans:600');

*,
*::before,
* ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  font-family: "josefin sans", sans-serif;
}

.calc-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 9rem);
  height: 70vh;
  border: 1px solid gray;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: gray;
  text-align: end;
  padding-right: 0.3rem;
  padding-top: 1rem;
  font-size: 3rem;
}

.math-sign {
  background-color: orange;
}

.calc-grid > button {
  border: 1px solid lightgrey;
  cursor: pointer;
}

.calc-grid > button:hover {
  background-color: wheat;
}

.letty {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  margin: 1rem;
}

.active {
  color: red;
}

.quoteContent {
  display: flex;
  align-self: center;
  width: 80vw;
  justify-content: center;
  height: 100vh;
  align-content: center;
}

.quoteContent p {
  padding-top: 25vh;
  text-align: center;
  font-size: 2rem;
  margin-left: 10vw;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  margin-left: 5rem;
  font-size: 1rem;

}

.mainContent h2 {
  text-align: center;
}

span {
  font-weight: 300;
}
